{% extends 'contatos/base.html' %}
{% block content%}
    <div class="main-container">
        <!-- Menu -->
       {%include 'contatos/partials/_nav.html'%}
        
        <div class="content-wrap">
            <!-- Conteúdo da página -->
            <div class="container my-4">
                <div class="card">
                    {% if contato.imagem == '' or contato.imagem == null%}
                    <img src="https://via.placeholder.com/100" class="card-img-top" alt="Foto do Contato" style="width: 100px; margin: auto;">
                    {%else%}
                    <img src="{{contato.imagem.url}}" class="card-img-top" alt="Foto do Contato" style="width: 100px; margin: auto;">
                    {%endif%}
                    <div class="card-body">
                        <h5 class="card-title">{{contato.nome}}</h5>
                        <p class="card-text"><strong>Número de Telefone:</strong>{{contato.telefone}}</p>
                        <p class="card-text"><strong>Email:</strong>{{contato.email}}</p>
                        <p class="card-text"><strong>Endereço:</strong>e {{contato.endereco}}</p>
                        <a href="#" class="btn btn-primary">Voltar</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
    {% include 'contatos/partials/_footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

{%endblock%}